*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

body{
    margin:0px 30px

}
@font-face {
    font-family: karina;
    src: url(./static7/PlaywriteDESAS-Thin.ttf);
}

@font-face {
    font-family: karina1;
    src: url(./static8/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: karina3;
    src: url(./static9/OpenSans_Condensed-Light.ttf);
}


h3{
    font-size: 18px;
    font-family:karina;
    font-weight: 100;
}
nav{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
}

.links-container{
    height: 100%;
    width: 100%;;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    font-family: karina1;
    font-size: 14px;
}
nav ul{
    height: 100%;
    padding: 0 20px;
    display: flex;
    gap:50px;
    align-items: center;
    color: black;
}
nav ul a{
    color: black;
}
nav ul li a:hover{
    color: rgb(236, 188, 128);
}
.login{
    color: rgb(215, 150, 72);
    font-size: 16px;

}
#sidebar-active{
    display: none;
}
.open-sidebar-button,.close-sidebar-button{
    display: none;
}
@media screen and (max-width:960px){
    .links-container{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        height: 900px;
        background-color: white;
    }
     ul{
        display: flex;
        flex-direction: column;
         align-self: center;
        margin-top: 15%;
        font-size: 20px;
        
    }

    nav a{
        box-sizing: border-box;
        width: 100%;  }

    .open-sidebar-button,.close-sidebar-button{
        display: block;
        padding:20px;
    }
    #sidebar-active:checked~ .links-container{
        display: flex;
    }

    .open-sidebar-button{
        margin-left: auto;
    }
     .close-sidebar-button{
        margin-left: auto;
        font-size: 20px;
    }

}
/* first section */
.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10%;
    gap:150px
}
.rov{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:120px
}
.rov img{
    width: 550px;
    /* max-width: 40%; */
}
.text{ 
    max-width: 350px;
  display: flex;
  flex-direction: column;
  gap:20px
}

.image1{
    box-shadow: 65px -50px 0px 18px #f5edeb;
}

.text h4{
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: rgba(0, 0, 0, 0.684);
}
span{
    font-size: 90px;
}
.text p{
    font-family: karina3;
    font-size: 18px;
}

/* second */
.all{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: 18%;
  color: rgba(0, 0, 0, 0.684);
  font-style: italic;

}
.header{
  display: flex;
  flex-wrap: wrap;
  gap:32%
 
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
}
.arajin{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:10px
}
.nov p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:30px;

 
}
.nov p::after{
  content: ">";
}
.nov p::before{
  content: "<";
}
.calendar{
  display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 gap: 20px;
 
}
.item1{
  opacity: 0;
}

.main{
  display: flex;
  gap:70px
}

.arajin{
  flex: 2;
}
.second{
  flex: 1.5;
}

.btn,.btn1{
  display: flex;
  gap:10px
}
.btn1{
  margin-top: 5%;
}
.sesions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;

}
.row{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.row button,.second button{
    display: inline-block;
    height: 36px;
    width: 130px;
    background-color: white;
    border: 1px solid  rgba(0, 0, 0, 0.684);;
    padding: 0px;
} 
hr{
  width: 87%;
}
 .weekdays{
    display: flex;
    gap:8px;
}
.days{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:25px;
    margin-left: 9px;
  
}

.days1{
    display: flex;
    flex-wrap: wrap;
    gap: 17.5px;
    align-items: center;
  
}
.second{
  display: flex;
 flex-wrap: wrap;
  flex-direction: column;
  gap:10px
}
.info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:10px
}
.header1 h4{
    font-size: 20px;
}
.pick{
     font-size: 20px;

}
.time{
    font-size: 16px;
    margin-top: 1%;
}
.btn2{
  margin-top: 5%;
}
.btn2 a{
  padding: 10px 80px;
  border: 1px solid  rgb(198, 152, 95);;
}
.hr2{
  width: 45%;
}
.sesions p{
    text-decoration: underline;
    font-size: 17px;
    color: rgb(198, 152, 95);
}

.btn button{
    font-size: 14px;


}
.btn1 button{
    font-size: 14px;

}
.btn button a{
       color: rgba(0, 0, 0, 0.684);
}
.btn1 button a{
       color: rgba(0, 0, 0, 0.684);
}
.btn1 .pm a{
    color: white
}
.btn1 .pm {
    background-color:#DAA06D;
    border: none;
    
}
.btn2 button{
    border:1px solid rgb(199, 140, 68);
    font-size: 13px;
    font-style: italic;

}
.btn2 a{
       color: rgba(0, 0, 0, 0.684);
}
.more{
    opacity: 0.5;

}
.item:hover{
    color: rgb(199, 140, 68);

}
.item2:hover{
    color: rgb(199, 140, 68);

}
.days .item{
    opacity: 0.5;
    color: #DAA06D;
    text-emphasis: dot;
    text-emphasis-position: under;
   
}
.footerr{
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:60px;
   margin-top: 13%;
    margin-bottom: 5%;
  font-style: italic;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.696); 
  
}
.foot1{
  border-left: 2px solid bisque;
  padding-left: 40px;
  
}
.bn{
  padding: 10px;
  width: 185px;
  height: 40px;
  text-align: center;
  border: 1px solid bisque;
}
.bn a{
    color:rgba(0, 0, 0, 0.696); 
     font-size: 17px;
}
.bn:hover{
    background-color: #DAA06D;
}
.bn a:hover{
    color: white;
}

@media screen and (max-width:1440px){
    .all{
        display: flex;
        gap:30px
    }
    .arajin{
        display: flex;
    }
    hr{
        width: 90%;
    }
    .hr2{
        width: 40%;
    }
    .second{
        display: flex;
    }

}
@media screen and (max-width:1280px){
    .arajin{
        display: flex;
       flex:5
    }
    hr{
        max-width: 68%;
    }
    .hr2{
        max-width: 20%;
    }
    .second{
        display: flex;
        flex-basis: 50%;
    }
    .header{
        display: flex;
        flex-direction: column;
        gap:5px;
        margin-bottom: -2%;
    
       
        
    }

}
@media screen and (max-width:1080px){
    .arajin{
        display: flex;
       flex:5
    }
    hr{
        width: 100%;
    }
    .hr2{
        width: 105%;
    }
    .second{
        display: flex;
        flex-basis: 50%;
    }
   

}
@media screen and (max-width:1024px){
    .arajin{
        display: flex;
       flex:5
    }
    hr{
        min-width: 73%;
    }
    .hr2{
        min-width: 25%;
    }
    .all{
        display: flex;
        gap:30px
    }
     /* hr{
        display: none;
    } */

}
@media screen and (max-width:818px){
    .arajin{
        display: flex;
       flex:5
    }
   
   
    .all{
        display: flex;
        gap:30px
    }

}
@media screen and (max-width:900px){
    .rov{
        display: flex;
        margin-top: -5%;

    }
    .image1{
        max-width: 70%;
      
    }
    .all{
        display: flex;
        flex-direction: column;
        margin: 45px 0px;
        align-items: center;
       
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .nov p{
        display: flex;
        justify-content: flex-start;
    }

    hr{
       display: none;
    }
    
    .row{
       display: flex;
       flex-direction: column;

    }
    .arajin{
        display: flex;
       flex:5;
       align-items: center;
    }

    }
  
@media screen and (max-width:669px){
    .rov{
        display: flex;
        margin-top: -5%;

    }
    .image1{
        max-width: 70%;
      
    }
    .all{
        display: flex;
        flex-direction: column;
        margin: 45px 0px;
        align-items: center;
       
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .nov p{
        display: flex;
        justify-content: flex-start;
    }

    hr{
       display: none;
    }
    
    .row{
       display: flex;
       flex-direction: column;
    }
    .arajin{
        display: flex;
       flex:5;
       align-items: center;
    }
    .main{
        display: flex;
    }
    hr{
        width: 76%;
    }
    .hr2{
        width: 27%;
    }
    .all{
        display: flex;
        gap:30px
    }
    .header{
        display: flex;
        
    }
  
    
}
@media screen and (max-width:498px){
    .image1{
        max-width: 100%;
        box-shadow: 1px -5px 0px 20px #f5edeb;
      
    }
    .rov{
        display: flex;
        gap:50px
    }
   

}
@media screen and (max-width:398px){
    .image1{
        max-width: 100%;
        box-shadow: 1px -5px 0px 20px #f5edeb;
      
    }
    .rov{
        display: flex;
        gap:50px
    }
    

}


